{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<h2>Upload Files</h2>

<div class="mt-3">
    {{ render_form(form) }}
</div>

<form action="{{ url_for('upload.upload_file') }}" method="POST" enctype="multipart/form-data" class="dropzone dz-clickable"
    id="test-dropper">
    <div class="fallback">
        <input name="file" type="file" />
    </div>

    <div class="dz-message" data-dz-message>
        <span>Drop files here to upload</span>
    </div>
</form>

<div id="status" class="mt-3">Please select files to upload.</div>

<table id="log" class="mt-3 table table-striped" hidden>
    <thead>
        <tr>
            <th>File</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <!-- File and status rows will be dynamically added here -->
    </tbody>
</table>

<input type="button" value="Upload" id="upload-btn" class="btn btn-primary mt-3" disabled>
<input type="button" value="Submit" id="submit-btn" class="btn btn-secondary mt-3" disabled>


{% endblock %}

{% block scripts %}
<script type="application/javascript">
    function init() {
        Dropzone.options.testDropper = {
            paramName: "file",
            parallelUploads: 1,
            chunking: true,
            forceChunking: true,
            url: "{{ url_for('upload.upload') }}",
            retryChunks: true,
            parallelChunkUploads: true,
            timeout: 60 * 60 * 1000,
            chunkSize: 10 * 1024 * 1024,
            retryChunksLimit: 15,
            maxFilesize: 1024 * 4,
            autoProcessQueue: false,
            autoQueue: true,
            headers: { "X-CSRF-Token" : "{{ csrf_token() }}" },
            init: function () {
                this.on("addedfile", function (file) {
                    document.getElementById('upload-btn').removeAttribute('disabled');
                });

                this.on("complete", function (file) {
                    console.log(file.name + ' ✅ ' + file.upload.uuid);
                    addToast(
                        'File Uploaded',
                        file.name + ' was uploaded successfully.'
                    )

                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        document.getElementById('status').innerHTML = 'All files uploaded successfully. Click Submit to save.';
                        document.getElementById('submit-btn').removeAttribute('disabled');

                        addToast(
                            'All Files Uploaded',
                            'Remember to click  Submit to save.'
                        )
                    } else if (this.getQueuedFiles().length > 0) {
                        upload();
                    }

                    // document.getElementById('log').innerHTML += '<p> ' + file.name + ' ✅</p>';

                    document.getElementById('log').innerHTML += '<tr><td>' + file.name + '</td><td>✅</td></tr>';
                    document.getElementById('files_uploaded').value += file.upload.uuid + ',';
                });
                this.on("error", function (file, message) {
                    console.log(file.name + ' ❌ ' + message);
                    // document.getElementById('log').innerHTML += '<p> ' + file.name + ' ❌ ' + message + '</p>';

                    document.getElementById('log').innerHTML += '<tr><td>' + file.name + '</td><td>❌ ' + message + '</td></tr>';
                });
            }
        };

        console.log('Dropzone initialized.');
    }

    function upload() {
        var dz = Dropzone.forElement('#test-dropper');
        if (dz.getQueuedFiles().length != 0) {
            document.getElementById('status').innerHTML = 'Uploading...';
            document.getElementById('log').removeAttribute('hidden');
        }
        dz.processQueue();
    }

    init();

    document.getElementById('upload-btn').addEventListener('click', upload);

    document.getElementById('uploaded_by').disabled = true;

</script>
{% endblock %}